<!DOCTYPE html>
<html lang="en" xmlns:padding-left="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">

    {#Style Sheets#}
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="{% static 'Employee_Transport_Solution_For_Enterprises/MDB/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'Employee_Transport_Solution_For_Enterprises/MDB/css/mdb.min.css' %}" rel="stylesheet">
    <link href="{% static 'Employee_Transport_Solution_For_Enterprises/MDB/css/style.css' %}" rel="stylesheet">
    {% block head %}
    {% endblock %}
</head>
<body class="fixed-sn black-skin">
{% block body %}
{% endblock %}
{#Javascript Files#}
<script type="text/javascript" src="{% static 'Employee_Transport_Solution_For_Enterprises/MDB/js/jquery-3.2.1.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Employee_Transport_Solution_For_Enterprises/MDB/js/popper.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Employee_Transport_Solution_For_Enterprises/MDB/js/bootstrap.min.js' %}"></script>
<script type="text/javascript" src="{% static 'Employee_Transport_Solution_For_Enterprises/MDB/js/mdb.min.js' %}"></script>
<script>
    $('.carousel').carousel({
        interval: 3000,
    })
</script>

<!-- SCRIPTS -->
<!-- JQuery -->
<script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
<!-- Bootstrap tooltips -->
<script type="text/javascript" src="js/popper.min.js"></script>
<!-- Bootstrap core JavaScript -->
<script type="text/javascript" src="js/bootstrap.min.js"></script>
<!-- MDB core JavaScript -->
<script type="text/javascript" src="js/mdb.min.js"></script>
<script>
    function initMap() {
        var uluru = {lat: -25.363, lng: 131.044};
        var map = new google.maps.Map(document.getElementById('map'), {
            zoom: 4,
            center: uluru
        });
        var marker = new google.maps.Marker({
            position: uluru,
            map: map
        });
    }
</script>
<script>
    function openNav() {
    document.getElementById("mySidenav").style.width = "250px";
    document.getElementById("slide").style.marginLeft = "250px";
}

/* Set the width of the side navigation to 0 and the left margin of the page content to 0 */
function closeNav() {
    document.getElementById("mySidenav").style.width = "0";
    document.getElementById("slide").style.marginLeft = "0";
}
</script>
<script async defer
        src="https://maps.googleapis.com/maps/api/js?key=YOUR_API_KEY&callback=initMap">
</script>
<script>
    var ctxP = document.getElementById("pieChart").getContext('2d');
    var myPieChart = new Chart(ctxP, {
        type: 'pie',
        data: {
            labels: ["Red", "Green", "Yellow", "Blue", "Dark Grey"],
            datasets: [
                {
                    data: [300, 50, 100, 40, 120],
                    backgroundColor: ["#F7464A", "#008000", "#FDB45C", "#0000FF", "#4D5360"],
                    hoverBackgroundColor: ["#FF5A5E", "#008040", "#FFC870", "#000F22", "#616774"]
                }
            ]
        },
        options: {
            responsive: true
        }
    });
</script>
</body>
</html>