{% extends 'dashboard_base.html' %}
<!DOCTYPE html>
<html lang="en" xmlns:padding-left="http://www.w3.org/1999/xhtml">
<head>
    {% block head %}
        <title>Employee Transport Solution For Enterprises</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static '/dashboard/style.css' %}">
    {% endblock %}
</head>

<body>
{% block body %}
        <section id="mainContent">
        <main class="container-fluid">
            <section>

                <!--Grid row-->
                <div class="row">

                    <!--Grid column-->
                    <div class="col-xl-8 col-md-6 mt-4 mb-r">

                        <!--Panel-->
                        <div class="card">
                            <div class="card-header white-text primary-color text-center">
                                Live Vehicle Tracking
                            </div>
                            <div class="container mt-2 mb-2">
                                <div class="view overlay hm-white-light z-depth-1-half">
                                    <img src="/static/Employee_Transport_Solution_For_Enterprises/MDB/img/myImages/map.jpg" style="height: 400px" class="img-fluid" alt="">
                                    <div class="mask"></div>
                                </div></div>
                        </div>
                        <!--/.Panel-->

                    </div>
                    <!--Grid column-->

                    <!--Grid column-->
                    <div class="col-xl-4 col-md-6 mt-4 mb-r">

                        <!--Panel-->
                        <div class="card">
                            <div class="card-header white-text red accent-2 text-center">
                                Vehicles Usability Graph
                            </div>
                            <canvas id="pieChart" class="img-fluid"></canvas>
                        </div>
                        <!--/.Panel-->


                    </div>
                    <!--Grid column-->
                </div>
                <!--Grid row-->

            </section>       <section class="container-fluid">
            <div class="row mb-4">

                <!--Grid column-->
                <div class="col-xl-3 col-md-6 mt-2">

                    <!--Panel-->
                    <div class="card">
                        <div class="card-header white-text primary-color">
                            Orders
                        </div>

                        <h6 class="ml-4 mt-5 dark-grey-text font-bold"><i class="fa fa-long-arrow-up blue-text mr-3" aria-hidden="true"></i> 2000</h6>
                        <!--/.Card Data-->

                    </div>
                    <!--/.Panel-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-xl-3 col-md-6 mt-2">

                    <!--Panel-->
                    <div class="card">
                        <div class="card-header white-text warning-color">
                            Monthly sales
                        </div>

                        <h6 class="ml-4 mt-5 dark-grey-text font-bold"><i class="fa fa-long-arrow-up blue-text mr-3" aria-hidden="true"></i> $ 2000</h6>
                        <!--/.Card Data-->



                    </div>
                    <!--/.Panel-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-xl-3 col-md-6 mt-2">

                    <!--Panel-->
                    <div class="card">
                        <div class="card-header white-text light-blue lighten-1">
                            Sales
                        </div>

                        <h6 class="ml-4 mt-5 dark-grey-text font-bold"><i class="fa fa-long-arrow-down red-text mr-3" aria-hidden="true"></i> $ 2000</h6>
                        <!--/.Card Data-->


                    </div>
                    <!--/.Panel-->

                </div>
                <!--Grid column-->

                <!--Grid column-->
                <div class="col-xl-3 col-md-6 mt-2">

                    <!--Panel-->
                    <div class="card">
                        <div class="card-header white-text red accent-2">
                            Daily Sales
                        </div>

                        <h6 class="ml-4 mt-5 dark-grey-text font-bold"><i class="fa fa-long-arrow-down red-text mr-3" aria-hidden="true"></i> $ 2000</h6>
                        <!--/.Card Data-->


                    </div>
                    <!--/.Panel-->


                </div>
                <!--Grid column-->
            </div>
            <!-- Links --></section>
        </main>
    </section>

{% endblock %}
</body>

</html>
