{% extends 'dashboard_base.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
</head>
<body>
{% block body %}
    <section id="mainContent">
                        <div class="card">
                            <div class="card-header white-text success-color text-center">
                                Live Vehicle Tracking
                            </div>
                            <div class="container-fluid mt-1 mb-1">
                                <div class="view overlay hm-white-light z-depth-1-half">
                                    <img src="/static/Employee_Transport_Solution_For_Enterprises/MDB/img/myImages/map.jpg" class="img-fluid" alt="">
                                    <div class="mask"></div>
                                </div></div>

        </div>
                        <!--/.Panel-->
    </section>
{% endblock %}
</body>
</html>