html,
body,
header,
#intro {
    height: 100%;
}

#intro {
    background: url("/static/Employee_Transport_Solution_For_Enterprises/MDB/img/myImages/cover.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}